.background {
  background-color: rgb(1, 150, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: rgb(1, 150, 46);
}
#quote-box {
  background-color: #fff;
  padding: 45px 60px;
  margin: 0 auto;
  width: 550px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}
#text {
  font-size: 30px;
  margin: 0 20px;
  text-align: center;
}
#author {
  text-align: end;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 20px;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.buttons * {
  color: white;
  background-color: rgb(1, 150, 46);
  height: 45px;
  min-width: 45px;
  border-radius: 3px;
}
a {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 1.7;
  text-decoration: none;
}
button {
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 0 20px;
}
.by {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  margin-top: 10px;
}

